form {
	width: 400px;
	margin: 0 auto;
}

input[type="text"], input[type="email"], input[type="password"] {
	display: block;
	margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #f0f0f0;
	font-size: 16px;
	box-sizing: border-box;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	box-sizing: border-box;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}