/*
home page css
*/

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
  
}

nav a {
  text-decoration: none;
  color: #333;
}
li:hover{
  background-color: gray;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

section {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

section h3 {
  margin-top: 0;
}
section h2 {
  margin-top: 0;
  text-align: center;
}

button {
  background-color: blue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 20px;
}
