

.title {
    padding-top: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: whitesmoke;
    font-size: 50pt;

}
.subtitle {
    padding: 10px;
    padding-bottom: 20px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: whitesmoke;
    font-size: 20pt;

}
.bodytext{
    padding: 10px;
    padding-bottom: 20px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: whitesmoke;
    font-size: 20pt;


}
.bodytitle{
    padding: 10px;
    padding-bottom: 5px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: whitesmoke;
    font-size: 50pt;
}



.homebtn{
font-size: x-large;
justify-content: space-between;

}

.gallerybtn{
font-size: x-large;
}

.aboutbtn{
font-size: x-large;


}

.dropdown {
    position: relative;
    display: inline-block;
}

    


    
.homebtn:hover, .homebtn:active{
font-size: xx-large;
}
.gallerybtn:hover, .gallerybtn:active{
    font-size: xx-large;
}
.aboutbtn:hover, .aboutbtn:active{
    font-size: xx-large;
}


